@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-primary {
  @apply font-bold py-2 px-4 rounded-full bg-[#2F1409] text-white;
}
.btn-primary:hover {
  @apply bg-[#704c3c];
}
.btn-secondary {
  @apply font-bold py-2 px-4 rounded-full bg-[#C4A887] text-white;
}
.btn-secondary:hover {
  @apply bg-[#704c3c];
}
.parallax {
  background-image: url(../public/images/banner.jpeg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.myfavorite {
  background-image: url(../public/images/bg\ 3.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
